body{
  background: rgba(238, 238, 238, 0.1) !important;
  padding:0;
  margin:0;
  width:100%;
  overflow-x: hidden !important;
  font-family: 'Noto Sans TC', sans-serif;
}
#root{
  
}
.Header{
  display:flex;
  padding-top: 25px !important;
  background-color: #fff;
  flex-wrap: wrap;
  flex-direction: column-reverse;
 
  min-height:70px;
  justify-content : space-between;
  border-bottom: 3px solid rgba(211, 211, 211, 0.698);
}
.SectionTwo{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:auto;
  margin-top:20px;
}
input{
  border:none;
  outline:none;
  font-size: 16px;
  max-width:400px;
  border-radius: 0px;
  height: 100%;
  text-decoration: none;
  border-radius: 3px;
}
select{
 padding: 120px !important;
border: none;
  box-shadow: 0px 1px 2px 1px lightgray;
  margin:auto;
  margin-top:20px;
  font-size: 16px;
  width:200px;
  font-weight: 400;
  outline:none;
  border-radius: 3px;
}
option{
  padding:10px !important;
  margin-top:20px;
}
.SearchShadow{
  box-shadow: 0px 1px 2px 1px lightgray;
  display: flex;
  justify-content: center;
  height:40px !important;
  margin-top:20px;
  border-radius: 3px;
  
}
.SearchBox{
display:flex;
}
.search-icon{
  border:none;
  height:100%;
  background-color: #fff;
  border-radius: 3px;
}
.fa-search{
  padding-top: 10px;
  font-size: 26px; 
}
.where{
  margin:auto !important;
  text-align: center;
}
.main-box{
  width: 100%;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-top:50px;
  background-color:rgb(243, 241, 241);
}
.box{
  width:250px;
  min-height:300px;
  border-radius: 2px;
  background-color:white;
  margin:15px;
  box-shadow: 1px 1px 4px 1px lightgray;
  border: 1px solid lightgray;
  border-radius: 7px;
}

.box:hover{
  transform: scale(1.009);
  transition: .4s;
  box-shadow: 1px 1px 5px 2px lightgray;
}
.box-img{
  width:100% !important;
  height:200px !important;
  top:0px;
  margin-top:0px;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.datas{
  display: flex;
}
.main-details{
  width:100%;
 position:absolute;
 min-height:100vh;
 left:0px;
 right:0px;
 top:0px;
 overflow: hidden ;
 background-color: #fff;
}
button{
    margin:50px;
    padding:16px;
 
}
.details{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-box{
  max-width:96%;
    width:400px;
    min-height:350px;
    background-color: transparent;
    margin: 16px;

}
.message{
    margin:16px;
   
}
.middle{
  max-width: 200px;
}
.messages{
  max-width:600px;
  display:flex;
  flex-wrap: wrap;
}
.dete{
  padding-top:30px !important;
}
.pop-img{
  width:100%;
  height:100%;
}
button{
  background-color:rgb(192, 192, 192);
  color:#fff !important;
}
.details-value{
  font-weight: 100 !important;
  font-size: 12px;
}
@media(max-width:500px){
  
  .img-box{
    width:90%;
  }
  
  .img-box{
    height:230px;
    min-height: 250px;
  }
 
}
@media (min-width:1000px){
  .Header{
  padding-left: 60px !important;
  padding-right: 60px !important; 
  }
  .img-box{
    margin-left:00px;
  }
}
@media (max-width: 400px){
  button{
    margin:14px;
  }
  .area{
   display: none;
   
  }
  
  input{
    width:100%;
  }
 
  .Header{
      width: 100%;
      justify-content: center;
  }
 
  
  .fa-search{
    padding-top: 10px;
  
  }
  .input-box{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  
  
}
@media(max-width:270px){
  .box{
    width:93%;
    margin-left:10px !important;
    margin-right:  5px !important;

  }
}
@media(max-width:365px){
  .mode{
    margin-top: 10px !important;
  }
  .SearchBox {
    margin:auto;
  }
  select{
    display: flex;
    justify-self: center;
  }
  .selection{
    margin:auto;
  }
  .SearchShadow{
    width:100%;
    box-shadow: 0px 1px 2px 1px lightgray;
    display: flex;
    justify-self: center;
}
}
